<h1>Listing goals</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>User</th>
      <th>Access</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @goals.each do |goal| %>
      <tr>

        <%= goal.access%>
        <%= goal.user_id%>
        <%= current_user.id%>

        <% if goal.access =='public' || goal.user_id.to_i == current_user.id.to_i%>


        <td><%= goal.title %></td>
        <td><%= goal.user_id %></td>
        <td><%= goal.access %></td>
        <td><%= button_to goal.title, goal_url(goal) %></td>
        <td><%= button_to 'Edit', edit_goal_path(goal) %></td>
        <td><%= button_to 'Delete', goal_url(goal.id), method: :delete %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create New Goal', new_goal_path %>
