<!DOCTYPE html>
<html>
<head>
  <title>Goals App</title>
</head>
<body>
<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <%= error %>
  <% end %>
<% end %>

<%= link_to "Sign Up", new_user_url%>
<%= link_to "Sign In", new_session_url%>
<%= link_to "Goals", goals_url%>

<% if logged_in? %>
  Logged in as <%= current_user.username %>
  <%= button_to "Sign Out", session_url, method: :delete %>
<% end %>

<%= yield %>

</body>
</html>
